// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-body{
  margin-top: 30px;
}

.genre-search{
  border: solid #000 1px;

}

.genre-search > p{
  border-bottom: solid #000 1px;
  text-align: center;
}

.introduction{
  border: solid #000 1px;
  text-align: center;
  
}
